/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_av.scss */
figure {
  margin: 0;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_av.scss */
figcaption {
  font-size: 11px;
  font-style: italic;
  line-height: 21px;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_av.scss */
img, object, video {
  max-width: 100%;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_av.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Corrects overflow displayed oddly in IE9 */
/* line 33, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_av.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 3, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
form {
  margin: 0;
}

/* line 7, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
fieldset {
  border: 0;
  padding: 0;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
button, input, select, textarea {
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 37, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 41, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 48, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 52, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_forms.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_html5.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
  display: block;
}

/* line 9, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_html5.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_html5.scss */
audio:not([controls]) {
  display: none;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_html5.scss */
[hidden] {
  display: none;
  visibility: hidden;
}

/* line 2, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_media.scss */
.media {
  margin-bottom: 0;
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

/* line 3, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_media.scss */
.media, .bd {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_media.scss */
.media .img {
  float: left;
  margin-right: 8px;
}

/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_media.scss */
.media .img img {
  display: block;
}

/* line 6, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_media.scss */
.media .imgExt {
  float: right;
  margin-left: 8px;
}

/* line 14, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
* {
  box-sizing: border-box;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  margin: 0;
  min-height: 100%;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.pillar {
  margin-left: 0;
  margin-right: 0;
  max-width: 960px;
  overflow: hidden;
}
@media screen and (min-width: 960px) {
  /* line 25, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .pillar {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 37, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.group {
  *zoom: 1;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* line 45, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.column {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.column.right {
  float: right;
}

/* line 54, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x100 {
  width: 100%;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x75 {
  width: 75%;
}

/* line 56, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x66 {
  width: 66.667%;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x50 {
  width: 50%;
}

/* line 58, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x33 {
  width: 33.333%;
}

/* line 59, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x25 {
  width: 25%;
}

/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x20 {
  width: 20%;
}

/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x10 {
  width: 10%;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x5 {
  width: 5%;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.x05 {
  width: 0.5%;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
.group.collapse .column {
  float: none;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  /* line 74, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .group.collapse-1024 > .column {
    float: none;
    width: 100%;
  }

  /* line 75, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .show-over-1024 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 78, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .group.collapse-768 > .column {
    float: none;
    width: 100%;
  }

  /* line 79, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .show-over-768 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  /* line 82, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .group.collapse-600 > .column {
    float: none;
    width: 100%;
  }

  /* line 83, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .show-over-600 {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /* line 86, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .group.collapse-480 > .column {
    float: none;
    width: 100%;
  }

  /* line 87, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .show-over-480 {
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  /* line 91, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .show-under-1024 {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  /* line 94, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .show-under-768 {
    display: none;
  }
}
@media screen and (min-width: 601px) {
  /* line 97, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .show-under-600 {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  /* line 100, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_structure.scss */
  .show-under-480 {
    display: none;
  }
}
/* line 1, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
html {
  font-size: 100%;
}

/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
body, button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #222;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
small {
  font-size: 0.625em;
  margin: 0 0 2.6em;
}

/* line 31, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, img, figure, figcaption, button, hr {
  margin: 0 0 1.5em;
}
/* line 33, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
p:last-child, blockquote:last-child, q:last-child, pre:last-child, address:last-child, hr:last-child, code:last-child, samp:last-child, dl:last-child, ol:last-child, ul:last-child, form:last-child, table:last-child, fieldset:last-child, menu:last-child, img:last-child, figure:last-child, figcaption:last-child, button:last-child, hr:last-child {
  margin-bottom: 0;
}

/* line 40, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 46, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
pre, code, kbd, samp {
  font: 14px/1.5 Menlo, Consolas, "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace;
}

/* line 54, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
blockquote, q {
  quotes: none;
}

/* line 58, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
blockquote, q, cite {
  font-style: italic;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
blockquote {
  padding-left: 1.625em;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
blockquote > p {
  padding: 0;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
ul, ol {
  list-style-position: inside;
  padding: 0;
}

/* line 83, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
li ul, li ol {
  margin: 0 1.625em;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
dl dd {
  margin-left: 1.625em;
}

/* line 94, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
a, a:visited {
  border-bottom: 1px solid;
  text-decoration: none;
  color: #06c;
}

/* line 100, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
a:hover {
  border-bottom: 1px solid;
}

/* line 104, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
a:hover, a:active {
  outline: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 124, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
mark {
  background: #ff0;
}

/* line 128, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
ins {
  text-decoration: none;
  background: #ff9;
}

/* line 133, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
del {
  text-decoration: line-through;
}

/* line 140, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #ddd;
}

/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
strong, b, dt {
  font-weight: bold;
}

/* line 151, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
dfn {
  font-style: italic;
}

/* line 155, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
var, address {
  font-style: normal;
}

/* line 160, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
sub, sup {
  font-size: 0.625em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 167, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
sup {
  top: -0.5em;
}

/* line 171, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 176, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
.text-align-right {
  text-align: right;
}

/* line 177, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
.text-align-left {
  text-align: left;
}

/* line 178, ../../../../.rvm/gems/ruby-1.9.3-p194/bundler/gems/sport_ngin_ui-9c60a12e8e1b/stylesheets/base/_typography.scss */
.text-align-center {
  text-align: center;
}
